@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	background-color: #faeca9;
	/* min-height: 100vh; */
	padding: 100px 15px;
}
.timeline-section h1 {
	font-size: 30px;
	text-align: center;
}
.timeline-items{
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
/* To add vertical line */
.timeline-items::before{
	content: '';
	position: absolute;
	width: 3px; /* vertical line width*/
	height: 100%; /* To apply to the whole div*/
	background-color: #2f363e;
	/* To do some calculation in CSS */
	left: calc(50% - 1px);/*To center the line*/
}
.timeline-item{
	margin-bottom: 40px;/* To separate the divs*/
	position: relative;
}
/* 
	:last-child, nth-child() are CSS selectors to match the siblings of element
	we can use even and odd with nth-child to mathc with the index of those siblings
	And that's super useful in spliting elements along our vertical line
	(Not zero indexed as arrays!!
	*/
.timeline-item:last-child{
	/* 
		to remove the margin for div with .timeline-item (last div)
	*/
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 5%);
	text-align: right;/* text default direction is Left to right */
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 30px;
	width: 30px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 1.5%);
	/* top:10px; i want the line to start from dot*/
	border-radius: 50%;
}
.timeline-date{
	font-size: 18px;
	font-weight: 400;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* small screens */
@media(max-width: 600px){
	.timeline-items::before{
		left: 3%;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}